<div class="card">
  <div class="card__header">
    <div class="card__header-title">
      {{ event.title }}
    </div>
    <div class="card__header-edit">
      <span class="material-icons" (click)="editEvent()">create</span>
    </div>
  </div>
  <div class="card__body">
    <div class="card__start-date">Start date: {{ event.startDate | date }}</div>
    <div class="card__end-date">Start date: {{ event.endDate | date }}</div>
    <div class="card__description">
      {{ event.description }}
    </div>
  </div>
</div>
