/* You can add global styles to this file, and also import other style files */
$material-icons-font-path: '~material-icons/iconfont/';

@import '~material-icons/iconfont/material-icons.scss';
@import "~ng-pick-datetime/assets/style/picker.min.css";

body {
  margin: 5% 10%;
  background: #fc6b00;
}
